/* src/pages/MapMessages.css */

/* .japan-map-svg path {
  fill: #cccccc;
  transition: fill 0.2s;
  cursor: pointer;
}

.japan-map-svg path:hover {
  fill: #ffaaaa;
}

.japan-map-svg path.selected {
  fill: #fff;
} */
